body {
  background-color: ghostwhite;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
  line-height: 1.5;
  margin: 20px;
}

/*2/3 Flag : y0u_4r3_0n3_5t3p_4h34d*/